 .pagination {
    flex-direction: row;
    display: flex;
  }
  
  .page-button-view {
    color:brown;
    background-color: #F8F8F8; 
    margin-left: 28.50px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    border-left: white;
    border-right: white;
    border-top: white;
    border-bottom: white;
  }
  
  .page-button-view1 {
    color:brown;
    background-color: #F8F8F8;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 3px;
    
  }
  
  .pagination-style {
    margin-left: 96px;
  }

  /*------------------------Mobile View-----------------------*/
  @media (max-width: 768px) {
    .pagination {
      flex-direction: column;
    }
    
    .page-button-view {
      margin-left: 23px;
      margin-top: 0px;
      margin-right: 0px;
      width: 18px;
    }
    
    .page-button-view1 {
      margin-top: 0px;
      margin-bottom: 5px;
      margin-right: 3px;
      width: 68px;
    }

    .pagination-style {
      margin-left: 90px;
      margin-top: 15px;
    }
  }