.App {
  text-align: start;
}

body {
  background-color: white;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.icon_cart {
   width : 30px;
   height: 25px;
}

.menu {
    background-color: #a52a2a;
    width: 817px;
    height: 63px;
    display: flex;
    padding: 0 40px;
    position: relative; 
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.font-size {
  font-size: 13px;
  margin-left: 3px;
  margin-bottom: 0px;
  color: white;
  font-style: inherit;
  margin-top: 3px;
}

.font-cart {
  font-size: 10px;
  margin-left: 150px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
}

.menu__logo_first {
  text-indent: -9999999px;
  display: inline-block;
  height: 50%;
  width: 42px;
  margin-top: 12px;
  margin-left: 90px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__cart_logo {
    height: 70%;
    width: 42px;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-top: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  background-color: white;
}

.menu__search-input {
  outline: none;
  border: 1px solid #c8c9ce;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
}

.button_size {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.heading_style {
  margin-right: 480px;
  margin-left: 28px;
  font-size: 15px;
}

.border {
  border:'1px solid red'
}

