.App {
  text-align: start;
}

body {
  background-color: white;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.icon_cart {
   width : 30px;
   height: 25px;
}

.menu {
    background-color: brown;
    width: 1000px;
    height: 63px;
    display: flex;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.font-size {
  font-size: 12px;
  margin-left: 3px;
  margin-bottom: 0px;
  color: white;
  font-style: inherit;
  margin-top: 3px;
}

.font-cart {
  font-size: 10px;
  margin-left: 150px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
}

.menu__logo_first {
  text-indent: -9999999px;
  display: inline-block;
  height: 50%;
  width: 42px;
  margin-top: 12px;
  margin-left: 90px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__cart_logo {
    height: 70%;
    width: 42px;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-top: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  background-color: white;
}

.menu__search-input {
  outline: none;
  border: 1px solid #c8c9ce;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
}

.button_size {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.heading_style {
  margin-right: 520px;
  margin-left: 40px;
  font-size: 15px;
}

.border {
  border:'1px solid red'
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.image_style {
  margin-top: 5px;
  margin-left: 35px;
  width: 70px;
  height: 100px;
}

.heading-style-first {
  margin-left: 31px;
  margin-top: 5px;
  font-size: 15px;
}

.heading-style-second {
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 32px;
}

.heading-style-third {
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 32px;
  font-size: 15px;
}

.btn-style-remove {
  margin-left: 20px;
  background-color: brown;
  border: white;
  color: white;
  margin-bottom: 10px;
}

.btn-style-count1 {
  margin-left: 130px;
  margin-bottom: 10px;
  border: white;
  background-color: white;
  color: brown;
}

.btn-style-count2 {
  background-color: brown;
  border: white;
  color: white;
  margin-bottom: 10px;
}

.btn-style-count3 {
  border: white;
  background-color: white;
  margin-bottom: 10px;
  color: brown;
}

.btn-style-placeorder {
  margin-left: 480px;
  background-color: rgb(26, 74, 165);
  border: white;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 23px;
  width: 120px;
}

.btn-style-custom {
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 34px;
  background-color: white;
  border: white;
  width: 150px;
}

.btn-style-summary {

  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 49px;
  background-color: white;
  border: white;
  width: 110px;
}
 
.style-number-text {
  margin-left: 10px;
  width: 200px;
  height: 30px;
  margin-right: 0px;
}

.style-address-text {
  margin-right: 13px;
  margin-left: 61px;
  margin-top: 5px;
  width: 411px;
  height: 50px;
}

.style-pincode-text {
  margin-left: 61px;
  margin-top: 5px;
  width: 200px;
  height: 30px;
}

.style-type-text {
  margin-bottom: 10px;
}

.style-name-text {
  height: 30px;
  width: 200px;
  margin-left: 61px;
}

.radio {
  margin-top: 5px;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 30px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 5px;
}

li a {
  padding: 5px;
  text-decoration: none;
  margin-left: 10px;
}

.container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
  margin-left: 115px;
}

.image {
  margin-right: 20px;
  margin-left: 0px;
  position: relative;
  overflow: hidden;
}

.img {
  width: 90px;
  height: 120px;
  margin-left: 0px;
}

.addToCart {
  background-color: brown;
  margin-right:3px;
  color: white;
  border: white;
}

.addToWish {
  background-color:white;
  color:black;
}

/*.................................................*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin-left:auto; 
  margin-right:auto;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students th {
  border: none;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
  background-color: brown;
  color: white;
}

.button12 {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 370px;
}
