.App {
  text-align: start;
}

body {
  background-color: white;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.icon_cart {
   width : 30px;
   height: 25px;
}

.menu {
    background-color: brown;
    width: 1000px;
    height: 63px;
    display: flex;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.font-size {
  font-size: 13px;
  margin-left: 3px;
  margin-bottom: 0px;
  color: white;
  font-style: inherit;
  margin-top: 3px;
}

.font-cart {
  font-size: 10px;
  margin-left: 150px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
}

.menu__logo_first {
  text-indent: -9999999px;
  display: inline-block;
  height: 50%;
  width: 42px;
  margin-top: 12px;
  margin-left: 90px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__cart_logo {
    height: 70%;
    width: 42px;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-top: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  background-color: white;
}

.menu__search-input {
  outline: none;
  border: 1px solid #c8c9ce;
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
}

.button_size {
  margin-top: 10px;
  width: 40px;
  height: 30px;
}

.heading_style {
  margin-right: 480px;
  margin-left: 28px;
  font-size: 15px;
}

.border {
  border:'1px solid red'
}

/*----------------------Cart View------------------*/

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.image_style {
  margin-top: 5px;
  margin-left: 35px;
  width: 70px;
  height: 100px;
}

.heading-style-first {
  margin-left: 31px;
  margin-top: 5px;
  font-size: 15px;
}

.heading-style-second {
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 32px;
}

.heading-style-third {
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 32px;
  font-size: 15px;
}

.btn-style-remove {
  margin-left: 20px;
  background-color: brown;
  border: white;
  color: white;
  margin-bottom: 10px;
}

.btn-remove-wishlist {
  margin-left: 370px;
  background-color: brown;
  border: white;
  color: white;
  height: 25px;
  margin-bottom: 10px;
}

.btn-wishlist-to-cart{
  margin-left: 10px;
  background-color: brown;
  border: white;
  color: white;
  height: 25px;
  margin-bottom: 10px;
}

.btn-style-count1 {
  margin-left: 130px;
  margin-bottom: 10px;
  border: white;
  background-color: white;
  color: brown;
}

.btn-style-count2 {
  background-color: brown;
  border: white;
  color: white;
  margin-bottom: 10px;
}

.btn-style-count3 {
  border: white;
  background-color: white;
  margin-bottom: 10px;
  color: brown;
}

.btn-style-placeorder {
  margin-left: 480px;
  background-color: rgb(26, 74, 165);
  border: white;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 23px;
  width: 120px;
}

.btn-style-custom {
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 34px;
  background-color: white;
  border: white;
  width: 150px;
}

.btn-style-summary {
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 49px;
  background-color: white;
  border: white;
  width: 110px;
}
 
/*--------------Customer Registration Form--------------*/

.style-number-text {
  margin-left: 10px;
  width: 200px;
  height: 30px;
  margin-right: 0px;
}

.style-address-text {
  margin-right: 13px;
  margin-left: 61px;
  margin-top: 5px;
  width: 422px;
  height: 50px;
}

.style-pincode-text {
  margin-left: 61px;
  margin-top: 5px;
  width: 200px;
  height: 30px;
}

.style-type-text {
  margin-bottom: 10px;
}

.style-name-text {
  height: 30px;
  width: 200px;
  margin-left: 61px;
}

.radio {
  margin-top: 5px;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 30px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 5px;
}

li a {
  padding: 5px;
  text-decoration: none;
  margin-left: 10px;
}
/*-----------------------Home View----------------------------*/

.flex-container-sort {
  display: flex;
  flex-direction: row;
}

.select-list {
  height: 24px;
  margin-top: 15px;
  margin-left: 432px;
  width: 150px;
  background-color: white;
}

.title-book {
  margin-left: 93px;
}

.search-author-view {
  width: 500px;
  height: 30px;
  border-color: brown;
  border-radius: 20px;
  margin-left: 200px;
  margin-bottom: 40px;
}

.all-books-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 85px;
}

.single-book-view {
  margin: 10px;
  height: 234px;
  width: 160px;
  outline-style: groove;
  outline-color: #F8F8F8;
  outline-width: thin;
}

.image-outer-view {
  height: 110px;
  width: 160px;
  outline-style: groove;
  outline-color: #F5F5F5;
  outline-width: 0.1px;
  background-color: #F5F5F5; 
}

.image-view {
  width: 65px;
  height: 88px;
  margin-left: 45px ;
  margin-top: 11px;
}

.book-name-view {
  text-overflow: ellipsis;
  overflow : hidden;
  white-space: nowrap;
  width: 145px;
  font-size: 12px;
  display: inline-block;
}

.book-name-view:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}

.book-author-view {
  opacity: 0.5;
  font-size: 10px;
}

.book-price-view {
  margin-left: 2px;
  font-size: 11px;
}

.addToCart {
  margin-top: 9px;
  background-color: #A52A2A ;
  font-size: 9px;
  color: white;
  width: 73px;
  height: 25px;
  margin-left: 11px;
  margin-bottom: 15px;
  font-weight: bold;
}

.addToWishList {
  margin-top: 7px;
  font-size: 9px;
  width: 60px;
  height: 25px;
  margin-left: 10px;
  font-weight: bold;
}

/*.................................................*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin-left:auto; 
  margin-right:auto;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students th {
  border: none;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
  background-color: brown;
  color: white;
}

.button12 {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 370px;
}

/*-------------------Registration View------------------*/

.Main_view {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 50%;
}

.App_Img {
  height: 409px;
  width: 420px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 100%;
}
.App__Form {
  width: 50%;
  outline-style: groove;
  outline-color: #F5F5F5;
  outline-width: 0.1px;
  background-color: 	#fbfcfd ;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link_SignIn {
  color:brown;
  font-size: 1.7em;
  margin: 0 5px;
  padding-bottom: 5px;
}

.FormTitle__Link_SignUp {
  color: #707C8B;
  font-size: 1.7em;
  margin: 0 7px;
  padding-bottom: 5px;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: brown;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: brown;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
/*  padding: 15px 70px; */
  font-size: .8em;
  font-weight: 500;
  width: 150px;
  height: 43px;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
  margin-left: 10px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em; 
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.FormField_Create_account {
  background-color: #66707D;;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: .8em;
  font-weight: 500;
  width: 150px;
  height: 43px;
  margin-left: 30px;
}

