.Main_view {
  height: 100vh;
  display: flex;
  color: white;
  width: 900px;
}

.App__Aside {
  width: 50%;
} 

.App_Img {
  height: 409px;
  width: 420px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 100%;
}
 
.signup-image-view {
  height: 580px;
  width: 420px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 100%;
}
  
.App__Form {
    width: 50%;
    outline-style: groove;
    outline-color: #F5F5F5;
    outline-width: 0.1px;
    background-color: 	#fbfcfd ;
    padding: 25px 40px;
    overflow: auto; 
  }

  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormTitle__Link_SignIn {
    color:brown;
    font-size: 1.7em;
    margin: 0 5px;
    padding-bottom: 5px;
    border: transparent;
  }
  
  .FormTitle__Link_SignUp {
    color: #707C8B;
    font-size: 1.7em;
    margin: 0 7px;
    padding-bottom: 5px;
    border: transparent;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: brown;
  }
  
  .FormField__Input {
    width: 85%;
    background-color: transparent; 
    border: none;
    color:1px solid #445366;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: brown;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: .8em;
    font-weight: 500;
    width: 150px;
    height: 43px;
  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
    margin-left: 10px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em; 
  }
  
  .CheckboxLabel {
    color: brown;
    font-size: .9em;
  }
  
  .FormField__Admin {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__User {
    top: 1.5px;
    margin-left: 20px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  
  .FormField_Create_account {
    background-color: #66707D;;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: .8em;
    font-weight: 500;
    width: 150px;
    height: 43px;
    margin-left: 30px;
  }
  
  .bookInfo {
    position: absolute;
    display: none;
  }

  /*----------------Mobile View----------------------------*/

  @media (max-width: 768px) {
    .Main_view {
      display: flex;
      flex-direction: column;
      width: 200px;
    }
    
    .App__Aside {
      width: 100%;
    } 
    
    .App_Img {
      height: 195px;
      width: 215px;
      margin-bottom: 0px;
      padding: 5px;
    }

    .App__Form {
      width: 100%;
    }    

    .FormField_Create_account {
      margin-left: 0px;
      margin-top: 10px;
    }

    .signup-image-view {
      height: 195px;
      width: 223px;
      margin-bottom: 0px;
      padding: 5px;
    }

    .FormField__Link {
      margin-top: 20px;
    }
  }  
